*{margin: 0; padding: 0; border: 0; font-size: 100%;}
.my-class {
	font-family: papyrus;
	color: #ea7186;
	background-color: #ebe8e7;
	text-align: center;
	border-bottom: 2px dotted #7a77b9;
	padding: 0.5em;
}
.subbocks {
	font-family: garamond; 
	color: #f2c76e;
	text-align: right;
	font-size: 5px;
}

#background {
	background-color: #ebe8e7;
}
.first {
	text-align: left;
	font-family: garamond;
	color: #7a77b9;
}
.my-container {
	background-image: url("images/whiteflower.png");
	font-family: garamond;
	color: #7a77b9;
	text-align: right;
	border: 2px dotted #7a77b9;
	margin-left: 20px;
	margin-right: 20px;
}
h2 {
	font-family: papyrus;
	color: #ea7186;
	font-style: oblique;
	font-size: 16px;
}